/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.wufoo{
	font-family: 'Lato';
}