/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.wufoo{
	font-family: 'Lato';
}

html{
	background: url(https://mcondie.github.io/wufoocss/cowfeeding.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}