/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.wufoo{
	font-family: 'Lato';
}

html{
	background: url(https://mcondie.github.io/wufoocss/cowfeeding2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo a{
	background-size: 40px 40px;
}

#logo{
	  padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}